@import 'styles/sizes.module.scss';
@import 'styles/colors.module.scss';

.topbar {
  height: $topbar-size;
}

.appContent {
  height: calc(100vh - #{$topbar-size});
  overflow-y: auto;
}

.sidebarHeader {
  border-bottom: 1px solid $borders-color;
  height: $topbar-size;
}
