@import 'styles/colors.module.scss';

.container {
  border-radius: 8px;
  box-shadow: $card-shadow;
  padding: 12px;
}

.title {
  color: $black;
}

.content {
  color: $gray;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
}

.bold {
  font-weight: 700 !important;
}

.italic {
  font-style: italic;
}
